/* Responsive */
[class|=hybicon] > svg {
    width: 100%;
    height: 100%;
}

/* Size */
.hybicon15 {
    height: 15px;
    width: 15px;
}

.hybicon25 {
    height: 25px;
    width: 25px;
}

.hybicon30 {
    height: 30px;
    width: 30px;
}

.hybicon50 {
    height: 50px;
    width: 50px;
}

.hybicon75 {
    height: 75px;
    width: 75px;
}

.hybicon100 {
    height: 100px;
    width: 100px;
}

.hybicon125 {
    height: 125px;
    width: 125px;
}

.hybicon150 {
    height: 150px;
    width: 150px;
}

.hybicon175 {
    height: 175px;
    width: 175px;
}

.hybicon200 {
    height: 200px;
    width: 200px;
}

/* Infomode: right */
[data-hybicon-infomode="right"].hybicon15 {
    height: 15px;
    width: 45px;
}

[data-hybicon-infomode="right"].hybicon25 {
    height: 25px;
    width: 75px;
}

[data-hybicon-infomode="right"].hybicon30 {
    height: 30px;
    width: 90px;
}

[data-hybicon-infomode="right"].hybicon50 {
    height: 50px;
    width: 150px;
}

[data-hybicon-infomode="right"].hybicon75 {
    height: 75px;
    width: 225px;
}

[data-hybicon-infomode="right"].hybicon100 {
    height: 100px;
    width: 300px;
}

[data-hybicon-infomode="right"].hybicon125 {
    height: 125px;
    width: 375px;
}

[data-hybicon-infomode="right"].hybicon150 {
    height: 150px;
    width: 450px;
}

[data-hybicon-infomode="right"].hybicon175 {
    height: 175px;
    width: 525px;
}

[data-hybicon-infomode="right"].hybicon200 {
    height: 200px;
    width: 600px;
}

/* Alignment */
.hybicon-center {
    margin: auto;
}

.hybicon-left {
    margin-right: auto;
}

.hybicon-right {
    margin-left: auto;
}

/* Style */
.hybicon-border > svg {
    border: solid;
}

.hybicon-rounded > svg {
    border-radius: 15%;
}
