body {
    background-color: #EAFDF8;
}

header {
    font-size: x-large;
    text-align: center;
    background-color: #F6921E;
    background-size: cover;
    color: #EAFDF8;
    padding: 5px;
    font-family: Helvetica, sans-serif;
    margin-bottom: 20px;
}

.titleicon {
    font-size: 33%;
    vertical-align: middle;
}

header a {
    color: #EAFDF8;
    text-decoration: none;
}

header a:hover {
    color: #EAFDF8;
    text-decoration: underline;
}

footer {
    text-align: center;
    background-color: #222;
    color: #dedede;
    padding: 5px;
    font-family: Helvetica, sans-serif;
    margin-top: 50px;
}

#footer {
    margin-bottom: 50px;
}

footer a {
    background-color: #222;
    color: #dedede;
    text-decoration: underline;
    padding: 0 3px 0 3px;
}

footer a:hover {
    background-color: #dedede;
    color: #222;
    text-decoration: none;
}

.sourceResult {
    width: 80%;
    margin: auto;
}


h3.fontface {
    font: 35px/43px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;
    margin: auto;
    text-align: center;
}
h4.fontface {font: 25px/33px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;}
h5.fontface {font: 20px/28px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;}

h1.fontface {
    font: 110px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0;
    font-stretch: wider;
    -moz-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}
@media (max-width: 1000px) { h1.fontface {font: 100px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;} }
@media (max-width: 900px) { h1.fontface {font: 80px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;} }
@media (max-width: 800px) { h1.fontface {font: 70px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;} }
@media (max-width: 700px) { h1.fontface {font: 60px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;} }
@media (max-width: 600px) { h1.fontface {font: 50px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;} }
@media (max-width: 500px) { h1.fontface {font: 40px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;} }

h2.fontface {
    font: 62px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: -10px auto 10px auto;
    text-align: center;
}

@media (max-width: 1000px) { h2.fontface {font: 57px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;} }
@media (max-width: 900px) { h2.fontface {font: 52px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;} }
@media (max-width: 800px) { h2.fontface {font: 47px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;} }
@media (max-width: 700px) { h2.fontface {font: 42px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;} }
@media (max-width: 600px) { h2.fontface {font: 37px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;} }
@media (max-width: 500px) { h2.fontface {font: 32px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;} }


.settingtitle {
    text-align: center;
    font: 20px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;
}

.smalltitle {
    text-align: center;
    font: 24px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;
    margin-bottom: 7px;
}

@media (max-width: 768px) {
    .settingtitle {
        margin-top: 21px;
    }
}

hr {
    border-color: #EAFDF8;
}

#settings {
    background-color: #EAFDF8;
    padding-top: 23px;
}

#settings h2 {
    padding-bottom: 30px;
}

#sourcecode {
    background-color: #604c3b;
    color: #222;
    padding-top: 33px;
    padding-bottom: 24px;
}

#sourcecode a {
    background-color: #604c3b;
    color: #222;
    text-decoration: underline;
}

#sourcecode a:hover {
    background-color: #222;
    color: #604c3b;
    text-decoration: none;
}

#using {
    background-color: #35CE8D;
    padding-top: 33px;
    padding-bottom: 24px;
}

#using a {
    background-color: #EAFDF8;
    color: #222;
    border: solid #222 1px;
    text-decoration: none;
    padding: 10px;
}

#using a:hover {
    background-color: #222;
    color: #35CE8D;
    text-decoration: none;
    padding: 10px;
}

#useful {
    background-color: #EAFDF8;
    padding-top: 33px;
}

.usingpre {
    background-color: #222;
    color: #35CE8D;
    padding: 2px;
}

.usefulicon {
    width: 150px;
    height: 100px;
    margin: auto;
}

.usingtext {
    text-align: center;
    font-size: 130%;
    margin-bottom: 7px;
}

.usinglink {
    text-align: center;
    font-size: 130%;
    margin-top: 21px;
    margin-bottom: 23px;
}

.switchbutton {
    text-align: center;
    font-size: 130%;
    margin-top: 21px;
    margin-bottom: 23px;
    background-color: #604c3b;
    color: #222;
    cursor: pointer;
}

.hinttext {
    text-align: center;
    font-size: 110%;
    margin-top: 17px;
}

.selectsource {
    cursor: pointer;
    font-size: smaller;
    position: absolute;
    padding-top: 2px;
}

#userideaheader,
#userideaheaderintro {
    margin-top: 15px;
}


#userideaheader > svg > [id$=icon1],
#userideaheader > svg > [id$=icon2] { 
    fill: #EAFDF8;
}

#twittertweetmain > svg > [id$=icon1],
#twittertweetmain > svg > [id$=icon2] { 
    fill: #55ACEE;
}
#facebooklikemain > svg > [id$=icon1],
#facebooklikemain > svg > [id$=icon2] { 
    fill: #3B5998;
}
#gplusplusmain > svg > [id$=icon1],
#gplusplusmain > svg > [id$=icon2] { 
    fill: #DD4B39;
}
#linkedinconnectmain > svg > [id$=icon1],
#linkedinconnectmain > svg > [id$=icon2] { 
    fill: #0077B5;
}
#skypecallmain > svg > [id$=icon1],
#skypecallmain > svg > [id$=icon2] { 
    fill: #00AFF0;
}
#mailsendmain > svg > [id$=icon1],
#mailsendmain > svg > [id$=icon2] { 
    fill: #0F9D58;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

/*INTRO*/

.styledark {
    background-color: #8c3d2f;
    color: #fff;
    -moz-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}

.styledark .inverse {
    background-color: #fff;
    color: #8c3d2f;
}

.styledark svg > text > tspan {
    fill: #8c3d2f;
    font: 13px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; letter-spacing: 0;
}

.styledark svg > [id$=info] { 
    fill: #FFF;
    stroke: #FFF;
    stroke-width: 0.6;
}

.styledark svg > [id$=icon1] { 
    fill: #8c3d2f;
    stroke: #fff;
    stroke-width: 0.6;
}

.styledark svg > [id$=icon2] { 
    fill: #fff;
    stroke: #8c3d2f;
    stroke-width: 1;
}

.styledark hr {
    border-color: #fff;
}

.styledark a {
    background-color: #8c3d2f;
    color: #fff;
    text-decoration: underline;
}

.styledark a:hover {
    background-color: #fff;
    color: #8c3d2f;
    text-decoration: none;
}

.stylelight {
    background-color: #fff;
    color: #8c3d2f;
    -moz-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}

.stylelight .inverse {
    background-color: #8c3d2f;
    color: #fff;
}

.stylelight svg > text > tspan {
    fill: #FFF;
    font: 13px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; letter-spacing: 0;
}

.stylelight svg > [id$=info] { 
    fill: #8c3d2f;
    stroke: #8c3d2f;
    stroke-width: 0.6;
}

.stylelight svg > [id$=icon1] { 
    fill: #fff;
    stroke: #8c3d2f;
    stroke-width: 0.6;
}

.stylelight svg > [id$=icon2] { 
    fill: #8c3d2f;
    stroke: #fff;
    stroke-width: 1;
}

.stylelight hr {
    border-color: #8c3d2f;
}

.stylelight a {
    background-color: #fff;
    color: #8c3d2f;
    text-decoration: underline;
}

.stylelight a:hover {
    background-color: #8c3d2f;
    color: #fff;
    text-decoration: none;
}