body {
    background-color: #EAFDF8;
}

header {
    font-size: x-large;
    text-align: center;
    background-color: #F6921E;
    background-size: cover;
    color: #EAFDF8;
    padding: 5px;
    font-family: Helvetica, sans-serif;
    margin-bottom: 30px;
}

.github {
    background-color: #4183c4;
}

.iconsheader {
    background-color: #116944;
}

@media (max-width: 768px) {
    header {
        margin-bottom: 0;
    }
}

header a {
    color: #EAFDF8;
    text-decoration: none;
}

header a:hover,
header a:focus {
    color: #EAFDF8;
    text-decoration: underline;
}

footer {
    text-align: center;
    background-color: #222;
    color: #dedede;
    padding: 5px;
    font-family: Helvetica, sans-serif;
    margin-top: 50px;
}

#footer {
    margin-bottom: 50px;
}

footer a {
    background-color: #222;
    color: #dedede;
    text-decoration: underline;
    padding: 0 3px 0 3px;
}

footer a:hover {
    background-color: #222;
    color: #dedede;
    text-decoration: none;
}

.sourceResult {
    width: 80%;
    margin: 25px auto 25px auto;
}

h1.fontface {
    font: 110px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0;
    font-stretch: wider;
    -moz-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}
@media (max-width: 1000px) { h1.fontface {font: 100px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;} }
@media (max-width: 900px) { h1.fontface {font: 80px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;} }
@media (max-width: 800px) { h1.fontface {font: 70px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;} }
@media (max-width: 700px) { h1.fontface {font: 60px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;} }
@media (max-width: 600px) { h1.fontface {font: 50px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;} }
@media (max-width: 500px) { h1.fontface {font: 40px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;} }

h2.fontface {
    font: 62px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: -10px auto 10px auto;
    text-align: center;
}

@media (max-width: 1000px) { h2.fontface {font: 57px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;} }
@media (max-width: 900px) { h2.fontface {font: 52px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;} }
@media (max-width: 800px) { h2.fontface {font: 47px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;} }
@media (max-width: 700px) { h2.fontface {font: 42px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;} }
@media (max-width: 600px) { h2.fontface {font: 37px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;} }
@media (max-width: 500px) { h2.fontface {font: 32px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;} }

h3.fontface {
    font: 35px/43px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;
    margin: auto;
    text-align: center;
}
h4.fontface {font: 25px/33px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;}
h5.fontface {font: 20px/28px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;}

.smalltitle {
    text-align: center;
    font: 24px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;
    margin-top: 7px;
    margin-bottom: 28px;
    color: #111;
}

.smalltitletop {
    text-align: center;
    font: 24px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0;
    margin-top: 28px;
    margin-bottom: 7px;
    color: #111;
}

hr {
    border-color: #EAFDF8;
}

#settings {
    background-color: #EAFDF8;
    padding-top: 23px;
}

#settings h2 {
    padding-bottom: 30px;
}

#sourcecode {
    background-color: #604c3b;
    color: #222;
    padding-top: 33px;
    padding-bottom: 24px;
}

#sourcecode a {
    background-color: #604c3b;
    color: #222;
    text-decoration: underline;
}

#sourcecode a:hover {
    background-color: #222;
    color: #604c3b;
    text-decoration: none;
}

#using {
    background-color: #35CE8D;
    padding-top: 33px;
    padding-bottom: 24px;
}

#using a.linkbutton {
    background-color: #EAFDF8;
    color: #222;
    border: solid #222 1px;
    text-decoration: none;
    padding: 10px;
}

#using a.linkbutton:hover {
    background-color: #222;
    color: #35CE8D;
    text-decoration: none;
    padding: 10px;
}

#using a {
    background-color: #35CE8D;
    color: #222;
    text-decoration: underline;
}

#using a:hover {
    background-color: #222;
    color: #35CE8D;
    text-decoration: none;
}

#using hr {
    border-color: #604c3b;
    border-width: 1px;
}

#using svg > [id$=info] { 
    fill: #604c3b;
    stroke: #604c3b;
    stroke-width: 3;
}

#using h3 {
    margin-bottom: 11px;
}

#useful {
    background-color: #EAFDF8;
    padding-top: 33px;
}

pre {
    font-size: 14px;
    padding: 12px;
}

.usingpre {
    background-color: #222;
    color: #35CE8D;
    padding: 2px;
}

.usingtext {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 130%;
    margin-bottom: 7px;
}

.usinglink {
    text-align: center;
    font-size: 130%;
    margin-top: 21px;
    margin-bottom: 23px;
}

#subheader {
    background-color: #35CE8D;
    padding-top: 33px;
    padding-bottom: 24px;
    margin-top: 33px;
}

#subheaderbaseicons {
    background-color: #8c3d2f;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 24px;
    margin-top: 33px;
}

.icons {
    background-color: #EAFDF8;
    padding-top: 23px;
}

.icons > h2 {
    padding-bottom: 30px;
}

.icons hr {
    border-color: #8c3d2f;
    border-width: 1px;
}

#userideaheader,
#userideaheaderintro {
    margin-top: 15px;
}

#userideaheader-icon1,
#userideaheader-icon2 { 
    fill: #EAFDF8;
}

#gplusplusmain-icon2 { 
    stroke: #EAFDF8;
    stroke-width: 2;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

#iconMailFooter {
    display: inline-block;
}

/*INTRO*/

#modes {
    padding-top: 23px;
}

.rounded {
    border-radius: 25px;
}

.styledark {
    background-color: #8c3d2f;
    color: #fff;
    -moz-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}

    .styledark .smalltitle,
    .styledark .smalltitletop {
        color: #fff;
    }

.styledark .inverse {
    background-color: #fff;
    color: #8c3d2f;
}

.styledark .inverse .smalltitle,
.styledark .inverse .smalltitletop {
    color: #8c3d2f;
}

.styledark svg > text > tspan {
    fill: #8c3d2f;
    font: 13px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; letter-spacing: 0;
}

.styledark [id$=info] { 
    fill: #FFF;
    stroke: #FFF;
    stroke-width: 0.6;
}

.styledark [id$=icon1] { 
    fill: #8c3d2f;
    stroke: #fff;
    stroke-width: 1;
}

.styledark [id$=icon2] { 
    fill: #8c3d2f;
    stroke: #fff;
    stroke-width: 2;
}

.styledark #userideaheaderintro-icon2 { 
    fill: #fff;
    stroke: #8c3d2f;
    stroke-width: 2;
}

#iconBrightness-icon1 {
    stroke-width: 1;
}

.styledark #iconBrightness-icon2 { 
    fill: #fff;
    stroke: #fff;
    stroke-width: 0;
}

#iconMailFooter-icon1,
#iconMailFooter-icon2 { 
    fill: #fff;
    stroke: #fff;
}

.styledark hr {
    border-color: #fff;
}

.styledark a {
    background-color: #8c3d2f;
    color: #fff;
    text-decoration: underline;
}

.styledark a:hover {
    background-color: #8c3d2f;
    color: #fff;
    text-decoration: none;
}

.stylelight {
    background-color: #fff;
    color: #8c3d2f;
    -moz-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}

    .stylelight .smalltitle,
    .stylelight .smalltitletop {
        color: #8c3d2f;
    }

.stylelight .inverse {
    background-color: #8c3d2f;
    color: #fff;
}

.stylelight .inverse .smalltitle,
.stylelight .inverse .smalltitletop {
    color: #fff;
}

.stylelight svg > text > tspan {
    fill: #FFF;
    font: 13px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; letter-spacing: 0;
}

.stylelight [id$=info] { 
    fill: #8c3d2f;
    stroke: #8c3d2f;
    stroke-width: 2;
}

.stylelight [id$=icon1] { 
    fill: #fff;
    stroke: #8c3d2f;
    stroke-width: 1.5;
}

.stylelight [id$=icon2] { 
    fill: #fff;
    stroke: #8c3d2f;
    stroke-width: 2;
}

.stylelight #userideaheaderintro-icon2 { 
    fill: #8c3d2f;
    stroke: #fff;
    stroke-width: 2;
}

.stylelight #iconBrightness-icon2 { 
    fill: #8c3d2f;
    stroke: #8c3d2f;
    stroke-width: 0;
}

.stylelight #iconMailFooter-icon1,
.stylelight #iconMailFooter-icon2 { 
    fill: #8c3d2f;
    stroke: #8c3d2f;
}

.stylelight hr {
    border-color: #8c3d2f;
}

.stylelight a {
    background-color: #fff;
    color: #8c3d2f;
    text-decoration: underline;
}

.stylelight a:hover {
    background-color: #fff;
    color: #8c3d2f;
    text-decoration: none;
}

#downloaddiv {
    padding-top: 10px;
    padding-bottom: 30px;
}

@media (max-width: 768px) {
    #downloaddiv {
        margin-left: 15px;
        margin-right: 15px;
        padding-bottom: 25px;
    }

    #details {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.centered {
    text-align: center;
}

.underline {
    text-decoration: underline;
    margin-top: 40px !important;
    margin-bottom: 30px !important;
}

/* CSS icon in documentation */

#myHybicon {
    width: 222px;
    height: 222px;
}

#myHybicon-svg {
    background: #FFF;
    border-radius: 15%;
}

#myHybicon-icon1 { 
    fill: #333;
}

#myHybicon-icon2 { 
    fill: #FFF;
    stroke: #F6921E;
    stroke-width: 2;
}

#myHybicon-info { 
    fill: #604c3b;
    stroke: #604c3b;
    stroke-width: 3;
}

#myHybicon-infotext {
    fill: #FFF;
    font: 11px Impact, sans-serif;
}
